In [1]:
import pandas as pd

In [7]:
database="Resources/database.csv"
bs_df=pd.read_csv(database, low_memory=False)
print(f"Record number: {len(bs_df)}")
bs_df.head(2)

Record number: 174104

,Record ID,Incident Year,Incident Month,Incident Day,Operator ID,Operator,Aircraft,Aircraft Type,Aircraft Make,Aircraft Model,...,Fuselage Strike,Fuselage Damage,Landing Gear Strike,Landing Gear Damage,Tail Strike,Tail Damage,Lights Strike,Lights Damage,Other Strike,Other Damage
0,127128,1990,1,1,DAL,DELTA AIR LINES,B-757-200,A,148,26,...,0,0,0,0,1,1,0,0,0,0
1,129779,1990,1,1,HAL,HAWAIIAN AIR,DC-9,A,583,90,...,0,0,0,0,0,0,0,0,1,0

In [8]:
bs_df=bs_df.loc[
                (bs_df['Airport']!='UNKNOWN')|
                (bs_df['Operator']!='UNKNOWN')
                ]

cbs_df=bs_df[["Incident Year","Incident Month","Operator","Airport","State","FAA Region","Flight Phase",
              "Visibility","Precipitation","Species Name","Species Quantity","Fatalities","Injuries"]]
cbs_df=cbs_df.loc[(cbs_df['Species Name']!="WHITE-TAILED DEER") &
                  (cbs_df['Species Name']!="MULE DEER")
                 ]

# Keep records with only valid US FAA Regions
cbs_df=cbs_df.loc[
                (cbs_df['FAA Region']=='ASO')|
                (cbs_df['FAA Region']=='AEA')|
                (cbs_df['FAA Region']=='AGL')|
                (cbs_df['FAA Region']=='ASW')|
                (cbs_df['FAA Region']=='AWP')|
                (cbs_df['FAA Region']=='ANM')|
                (cbs_df['FAA Region']=='ACE')|
                (cbs_df['FAA Region']=='ANE')|
                (cbs_df['FAA Region']=='AAL')
                ]
cbs_df=cbs_df.copy()
cbs_df['Visibility']=cbs_df['Visibility'].fillna('NONE')
cbs_df['Precipitation']=cbs_df['Precipitation'].fillna('NONE')
cbs_df['Fatalities']=cbs_df['Fatalities'].fillna(0)
cbs_df['Injuries']=cbs_df['Injuries'].fillna(0)
print(f"Record number: {len(cbs_df)}")
cbs_df.head(2)

Record number: 150640

,Incident Year,Incident Month,Operator,Airport,State,FAA Region,Flight Phase,Visibility,Precipitation,Species Name,Species Quantity,Fatalities,Injuries
0,1990,1,DELTA AIR LINES,CINCINNATI/NORTHERN KENTUCKY INTL ARPT,KY,ASO,CLIMB,NONE,NONE,GULL,1,0.0,0.0
1,1990,1,HAWAIIAN AIR,LIHUE ARPT,HI,AWP,TAKEOFF RUN,NONE,NONE,HOUSE SPARROW,1,0.0,0.0