In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.patches as mpatches
import requests

In [6]:
database="Resources/Cleaned_data.csv"
df=pd.read_csv(database, low_memory=False)
df.columns

Index(['Record ID', 'Incident Year', 'Incident Month', 'Incident Day',
       'Operator ID', 'Operator', 'Aircraft', 'Aircraft Type', 'Aircraft Make',
       'Aircraft Model', 'Aircraft Mass', 'Engine Make', 'Engine Model',
       'Engines', 'Engine Type', 'Engine1 Position', 'Engine2 Position',
       'Engine3 Position', 'Engine4 Position', 'Airport ID', 'Airport',
       'State', 'FAA Region', 'Warning Issued', 'Flight Phase', 'Visibility',
       'Precipitation', 'Height', 'Speed', 'Distance', 'Species ID',
       'Species Name', 'Species Quantity', 'Flight Impact', 'Fatalities',
       'Injuries', 'Aircraft Damage', 'Radome Strike', 'Radome Damage',
       'Windshield Strike', 'Windshield Damage', 'Nose Strike', 'Nose Damage',
       'Engine1 Strike', 'Engine1 Damage', 'Engine2 Strike', 'Engine2 Damage',
       'Engine3 Strike', 'Engine3 Damage', 'Engine4 Strike', 'Engine4 Damage',
       'Engine Ingested', 'Propeller Strike', 'Propeller Damage',
       'Wing or Rotor Strike', 'Wing or Rotor Damage', 'Fuselage Strike',
       'Fuselage Damage', 'Landing Gear Strike', 'Landing Gear Damage',
       'Tail Strike', 'Tail Damage', 'Lights Strike', 'Lights Damage',
       'Other Strike', 'Other Damage'],
      dtype='object')

In [11]:
df.head()

,Record ID,Incident Year,Incident Month,Incident Day,Operator ID,Operator,Aircraft,Aircraft Type,Aircraft Make,Aircraft Model,...,Fuselage Strike,Fuselage Damage,Landing Gear Strike,Landing Gear Damage,Tail Strike,Tail Damage,Lights Strike,Lights Damage,Other Strike,Other Damage
0,127128,1990,1,1,DAL,DELTA AIR LINES,B-757-200,A,148,26,...,0,0,0,0,1,1,0,0,0,0
1,129779,1990,1,1,HAL,HAWAIIAN AIR,DC-9,A,583,90,...,0,0,0,0,0,0,0,0,1,0
2,2258,1990,1,3,MIL,MILITARY,A-10A,A,345,NaN,...,0,0,0,0,0,0,0,0,0,0
3,2257,1990,1,3,MIL,MILITARY,F-16,A,561,NaN,...,0,0,0,0,0,0,0,0,0,0
4,129734,1990,1,4,HAL,HAWAIIAN AIR,DC-9,A,583,90,...,0,0,0,0,0,0,0,0,1,0

In [ ]:
#Find the damage to strike ratio for each plane part when there is a bird strike (spanning 15 years)

In [17]:
df_injuries = df.loc[(df['Injuries'] != 0)]
df_injuries

,Record ID,Incident Year,Incident Month,Incident Day,Operator ID,Operator,Aircraft,Aircraft Type,Aircraft Make,Aircraft Model,...,Fuselage Strike,Fuselage Damage,Landing Gear Strike,Landing Gear Damage,Tail Strike,Tail Damage,Lights Strike,Lights Damage,Other Strike,Other Damage
48,126915,1990,2,27,BUS,BUSINESS,GULFSTREAM V,A,421,10,...,0,0,0,0,0,0,0,0,0,0
75,128222,1990,3,26,BUS,BUSINESS,BELL-206,B,128,4,...,0,0,0,0,0,0,0,0,0,0
259,124681,1990,5,18,BUS,BUSINESS,PA-32,A,729,26,...,0,0,0,0,0,0,0,0,0,0
523,101093,1990,7,3,PVT,PRIVATELY OWNED,MOONEY UNKN,A,632,NaN,...,0,0,0,0,0,0,0,0,0,0
1208,127177,1990,9,23,BUS,BUSINESS,BELL-206,B,128,4,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127245,357858,2015,2,13,AWE,US AIRWAYS,A-319,A,04A,6,...,0,0,0,0,0,0,0,0,0,0
127673,358363,2015,3,19,BUS,BUSINESS,AEROS 350,B,31,15,...,0,0,0,0,0,0,0,0,0,0
127727,358318,2015,3,23,GOV,GOVERNMENT,BELL-206,B,128,4,...,0,0,0,0,0,0,0,0,0,0
127825,358489,2015,3,28,BUS,BUSINESS,ROBINSON R44,B,762,2,...,0,0,0,0,0,0,0,0,0,0
133286,366502,2015,9,23,BUS,BUSINESS,EC135,B,33A,5.0,...,0,0,0,0,0,0,0,0,0,0

In [18]:
df_fatalities = df.loc[(df['Fatalities'] != 0)]
df_fatalities

,Record ID,Incident Year,Incident Month,Incident Day,Operator ID,Operator,Aircraft,Aircraft Type,Aircraft Make,Aircraft Model,...,Fuselage Strike,Fuselage Damage,Landing Gear Strike,Landing Gear Damage,Tail Strike,Tail Damage,Lights Strike,Lights Damage,Other Strike,Other Damage
5209,113844,1992,6,5,PVT,PRIVATELY OWNED,HOMEBUILT,0,998,1,...,0,1,0,1,0,1,0,1,1,1
7270,117275,1993,3,24,BUS,BUSINESS,BELL 47,B,128,1,...,0,0,0,0,0,0,0,0,0,0
10121,122793,1994,5,16,BUS,BUSINESS,BELL 47,B,128,1.0,...,0,1,0,0,0,1,0,1,0,1
10526,120353,1994,7,15,PVT,PRIVATELY OWNED,C-172,A,226,7.0,...,0,1,0,1,0,1,0,1,0,1
21245,128423,1998,3,4,PVT,PRIVATELY OWNED,PA-23 APACHE,A,729,17.0,...,0,0,0,0,1,1,0,0,0,0
34430,205211,2000,12,6,1ASQ,ATLANTIC SOUTHEAST,EMB-120,A,332,11.0,...,0,1,1,0,0,0,0,0,0,0
46540,270208,2003,5,10,BUS,BUSINESS,MILITARY,0,998,9.0,...,0,0,0,0,0,0,0,0,0,0
47486,221264,2003,7,8,BUS,BUSINESS,C-172,A,226,7.0,...,0,1,0,1,0,0,0,1,0,0
73968,251781,2007,10,23,BUS,BUSINESS,PA-44 SEMINOLE,A,729,33.0,...,0,1,0,1,1,1,0,1,0,0
75216,260583,2008,3,4,BUS,BUSINESS,CITATION,A,226,31.0,...,0,1,0,1,1,1,0,1,0,0
80430,260720,2009,1,4,PHM,PHI INC,SIKORSKY S-76,B,813,14.0,...,0,0,0,0,0,0,0,0,0,0
109644,332826,2013,2,13,BUS,BUSINESS,EXPERIMENTAL,0,998,3.0,...,0,1,0,1,0,1,0,1,0,0