7) Is there a correlation between weather conditions, such as Visibility (dawn, day, dusk, night) and Precipitation (fog, rain, snow...), and bird strikes?

In [1]:
# Importing the dependencies
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from IPython.display import display
import scipy.stats as stats

In [2]:
file = 'Resources/Cleaned_data.csv'
cbs_df = pd.read_csv(file)

#cbs_df['Fatalities'].fillna(0,inplace = True)

#cbs_df["Fatalities"] = cbs_df.loc[:, "Fatalities"].astype(float)
cbs_df

/Users/rafael/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (9,12,15,17) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Record ID,Incident Year,Incident Month,Incident Day,Operator ID,Operator,Aircraft,Aircraft Type,Aircraft Make,Aircraft Model,...,Fuselage Strike,Fuselage Damage,Landing Gear Strike,Landing Gear Damage,Tail Strike,Tail Damage,Lights Strike,Lights Damage,Other Strike,Other Damage
0,127128,1990,1,1,DAL,DELTA AIR LINES,B-757-200,A,148,26,...,0,0,0,0,1,1,0,0,0,0
1,129779,1990,1,1,HAL,HAWAIIAN AIR,DC-9,A,583,90,...,0,0,0,0,0,0,0,0,1,0
2,2258,1990,1,3,MIL,MILITARY,A-10A,A,345,NaN,...,0,0,0,0,0,0,0,0,0,0
3,2257,1990,1,3,MIL,MILITARY,F-16,A,561,NaN,...,0,0,0,0,0,0,0,0,0,0
4,129734,1990,1,4,HAL,HAWAIIAN AIR,DC-9,A,583,90,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133551,366091,2015,9,30,SWA,SOUTHWEST AIRLINES,B-737-700,A,148,42.0,...,0,0,0,0,0,0,0,0,0,0
133552,365902,2015,9,30,SWA,SOUTHWEST AIRLINES,B-737-700,A,148,42.0,...,0,0,0,0,0,0,0,0,0,0
133553,365903,2015,9,30,BUS,BUSINESS,CITATIONJET,A,226,49.0,...,1,1,0,0,0,0,0,0,0,0
133554,366046,2015,9,30,QXE,HORIZON AIR,DHC8 DASH 8,A,303,10.0,...,1,0,0,0,0,0,0,0,0,0
133555,365823,2015,9,30,AWI,AIR WISCONSIN AIRLINES,CRJ100/200,A,188,10.0,...,0,0,0,0,0,0,0,0,1,0

In [3]:
# Removed "0" values from Visibility
cbs_df = cbs_df.loc[(cbs_df['Visibility'] != 0)]
cbs_df.shape

(133556, 66)

In [4]:
month_counts = cbs_df["Incident Month"].value_counts(sort=False)
month_counts

1      4625
2      4247
3      6857
4     10176
5     13757
6     10335
7     15226
8     17985
9     18625
10    17064
11     9340
12     5319
Name: Incident Month, dtype: int64

In [5]:
#visibilty_group = cbs_df.groupby("Visibility")
bird_count = cbs_df["Visibility"].value_counts()

bird_count

DAY        67590
NIGHT      32148
0          25457
DUSK        4891
DAWN        3444
UNKNOWN       26
Name: Visibility, dtype: int64

In [8]:
cbs_df['Visibility'].unique()

array(['0', 'DAY', 'NIGHT', 'DUSK', 'DAWN', 'UNKNOWN'], dtype=object)

In [9]:
total_strikes = len(cbs_df["Incident Month"])
print(total_strikes)

expected_strikes = total_strikes / 5
expected_strikes

133556

26711.2

In [14]:
index = ["DAY", "NIGHT", "DUSK", "DAWN", "UNKNOWN"]

print((67590+32148+4891+3444+26)/5)

visibility_hits = {"Bird Hits":[67590,32148,4891,3444,26],
                    "Expected Hits":[21619.8,21619.8,21619.8,21619.8,21619.8],
                   }

df = pd.DataFrame(visibility_hits, index=index)
df

21619.8

         Bird Hits  Expected Hits
DAY          67590        21619.8
NIGHT        32148        21619.8
DUSK          4891        21619.8
DAWN          3444        21619.8
UNKNOWN         26        21619.8

In [15]:
# The degree of freedom is 5-1 = 4
# With a p-value of 0.05, the confidence level is 1.00-0.05 = 0.95.
critical_value = stats.chi2.ppf(q = 0.95, df = 4)
critical_value

9.487729036781154

In [16]:
stats.chisquare(df['Bird Hits'], df['Expected Hits'])

Power_divergenceResult(statistic=152665.9329318495, pvalue=0.0)