In [1]:
# Importing the dependencies

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
file = 'Resources/database.csv'
df = pd.read_csv(file)
df.head()

C:\Users\Kevin\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (9,12,15,17) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Record ID,Incident Year,Incident Month,Incident Day,Operator ID,Operator,Aircraft,Aircraft Type,Aircraft Make,Aircraft Model,...,Fuselage Strike,Fuselage Damage,Landing Gear Strike,Landing Gear Damage,Tail Strike,Tail Damage,Lights Strike,Lights Damage,Other Strike,Other Damage
0,127128,1990,1,1,DAL,DELTA AIR LINES,B-757-200,A,148,26,...,0,0,0,0,1,1,0,0,0,0
1,129779,1990,1,1,HAL,HAWAIIAN AIR,DC-9,A,583,90,...,0,0,0,0,0,0,0,0,1,0
2,129780,1990,1,2,UNK,UNKNOWN,UNKNOWN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
3,2258,1990,1,3,MIL,MILITARY,A-10A,A,345,NaN,...,0,0,0,0,0,0,0,0,0,0
4,2257,1990,1,3,MIL,MILITARY,F-16,A,561,NaN,...,0,0,0,0,0,0,0,0,0,0

In [3]:
df = df[['Record ID','Species ID','Species Name','Species Quantity',
        'Fatalities','Injuries',]]
df.head()

,Record ID,Species ID,Species Name,Species Quantity,Fatalities,Injuries
0,127128,NE1,GULL,1,NaN,NaN
1,129779,ZZ201,HOUSE SPARROW,1,NaN,NaN
2,129780,R1101,BARN OWL,1,NaN,NaN
3,2258,UNKBM,UNKNOWN MEDIUM BIRD,1,NaN,NaN
4,2257,ZX,FINCH,1,NaN,NaN

In [4]:
df['Fatalities'].fillna(0,inplace = True)
df['Injuries'].fillna(0,inplace = True)

In [5]:
df['Species Name'].unique()

array(['GULL', 'HOUSE SPARROW', 'BARN OWL', 'UNKNOWN MEDIUM BIRD',
       'FINCH', 'MUNIAS', 'PACIFIC GOLDEN-PLOVER', 'SPOTTED DOVE',
       'WHITE-TAILED DEER', 'HORNED LARK', 'ROCK PIGEON',
       'WESTERN MEADOWLARK', 'SPARROW', 'GEESE', 'UNKNOWN BIRD',
       'TURKEY VULTURE', 'HAWAIIAN DUCK', 'HERRING GULL', 'SANDPIPER',
       'ZEBRA DOVE', 'MALLARD', 'SHORT-EARED OWL', 'UNKNOWN LARGE BIRD',
       'DUCKS, GEESE, SWANS', 'HAWK', 'LAUGHING GULL', 'RING-BILLED GULL',
       'MOURNING DOVE', 'DOUBLE-CRESTED CORMORANT',
       'THRASHERS, MOCKINGBIRDS, CATBIRDS', 'EUROPEAN STARLING', 'MERLIN',
       'WESTERN GULL', 'MULE DEER', 'CANADA GOOSE', 'UNKNOWN SMALL BIRD',
       'RED BAT', 'CATTLE EGRET', 'HERONS, EGRETS, BITTERNS', 'OSPREY',
       "TOWNSEND'S SHEARWATER", 'BLACKBIRD', 'BLACK VULTURE', 'SHOREBIRD',
       'SNOW BUNTING', 'DOVE', 'AMERICAN ROBIN', 'BROWN-HEADED COWBIRD',
       "FRANKLIN'S GULL", 'ROSE-BREASTED GROSBEAK', 'DUCK', 'TERNS',
       'STARLINGS', 'COMMON NIGHTHAWK', 'AMERICAN CROW', 'COYOTE', 'OWLS',
       "WILSON'S SNIPE", 'CROW', 'KILLDEER', 'COMMON MYNA', 'SWALLOW',
       'EGRET', 'SAVANNAH SPARROW', 'SNOW GOOSE', 'YELLOW-BILLED MAGPIE',
       'EASTERN MEADOWLARK', 'RING-NECKED PHEASANT', 'NEW WORLD VULTURES',
       'BALD EAGLE', 'GREAT FRIGATEBIRD', 'RED-WINGED BLACKBIRD', 'WREN',
       'CAROLINA WREN', 'ARCTIC TERN', 'GULLS,TERNS, KITTIWAKES',
       'AMERICAN KESTREL', 'DEER', 'TREE SWALLOW', 'GREAT BLUE HERON',
       'CROWS, RAVENS, JAYS,MAGPIES', 'DOMESTIC DOG', 'EASTERN KINGBIRD',
       'NORTHERN ROUGH-WINGED SWALLOW', 'BARN SWALLOW', 'RED-TAILED HAWK',
       'CASPIAN TERN', 'WOODCHUCK', 'MICROBAT', 'HAWAIIAN HAWK', 'FALCON',
       'CHIMNEY SWIFT', 'PURPLE MARTIN', 'OLD WORLD VULTURES',
       'COMMON GRACKLE', "SWAINSON'S THRUSH", 'BROWN THRASHER',
       'SANDHILL CRANE', 'GREAT BLACK-BACKED GULL', 'ORIOLES', 'THRUSHES',
       'MOOSE', 'UNKNOWN TERRESTRIAL MAMMAL', 'RED FOX',
       'PEREGRINE FALCON', 'NORTHERN HARRIER', 'HERONS',
       'GREEN-WINGED TEAL', 'BROWN PELICAN', 'AMERICAN AVOCET',
       'UPLAND SANDPIPER', 'CANIDS', 'WILD TURKEY', 'INCA DOVE',
       'SNOWY EGRET', 'HOUSE FINCH', 'ANHINGA',
       'RAPTORS: HAWKS, EAGLES, VULTURES, KITES, OSPREY, F', 'BLUE JAY',
       'NORTHERN MOCKINGBIRD', 'ROYAL TERN', 'SORA', 'PLOVERS',
       'RUDDY TURNSTONE', 'NORTHERN FLICKER', 'EMPEROR GOOSE',
       'AMERICAN COOT', 'AMERICAN GOLDFINCH', 'BRANT',
       'NORTHERN CARDINAL', 'FOXES', 'WOOD THRUSH', 'SNOWY OWL',
       'WHITE-EYED VIREO', 'NORTHERN LAPWING', 'BATS', 'GRAY PARTRIDGE',
       'GROUSE', 'SCALY-BREASTED MUNIA', 'CHESTNUT MUNIA',
       'EASTERN SCREECH-OWL', 'RABBIT', 'PARROTS', 'YELLOW-BILLED CUCKOO',
       'RAILS', 'DOMESTIC CAT', 'CATTLE', 'BLACK-CAPPED CHICKADEE',
       'HOARY BAT', 'BANK SWALLOW', 'HOODED WARBLER',
       'BOAT-TAILED GRACKLE', 'BLUE-WINGED TEAL', 'WAPITI (ELK)',
       'ORANGE-CROWNED WARBLER', 'TURTLE', 'AMERICAN GOLDEN-PLOVER',
       'NORTHERN BOBWHITE', 'FOX SPARROW',
       'BLACKBIRDS, MEADOWLARKS, ORIOLES', 'LARK BUNTING', 'MEW GULL',
       'BURROWING OWL', 'GREAT HORNED OWL', 'COMMON LOON',
       'LONG-EARED OWL', 'GREATER WHITE-FRONTED GOOSE', 'PTARMIGANS',
       'RED-CRESTED CARDINAL', 'WHITE IBIS', 'PIGEONS, DOVES',
       "BONAPARTE'S GULL", 'AMERICAN WHITE PELICAN', 'MEADOWLARK',
       'GOLDEN EAGLE', 'WHITE-NOSED COATI', 'GREATER SAGE-GROUSE',
       'COMMON RAVEN', 'HOODED MERGANSER', 'NORTHERN SAW-WHET OWL',
       'PIGEONS', 'CARIBOU', 'COMMON TERN', 'EURASIAN WIGEON',
       'SEMIPALMATED SANDPIPER', 'PRONGHORN', 'RACCOON',
       'VIRGINIA OPOSSUM', 'GREAT EGRET', 'HERMIT THRUSH',
       'RED-SHOULDERED HAWK', 'SWIFTS', 'HELMETED GUINEAFOWL',
       'ROCK PTARMIGAN', 'EURASIAN BLACKBIRD', 'GREBES', 'GADWALL',
       'EASTERN COTTONTAIL', 'PELICANS', 'AMERICAN ALLIGATOR',
       'COMMON MOORHEN', 'BLACK-BILLED MAGPIE', 'IBISES', 'CLIFF SWALLOW',
       'AMERICAN WOODCOCK', 'SPOTTED SANDPIPER', 'NORTHERN SHOVELER',
       'CEDAR WAXWING', 'MUTE SWAN', 'AMERICAN REDSTART', "SAY'S PHOEBE",
       'AMERICAN WIGEON', 'DARK-EYED JUNCO', 'WHIP-POOR-WILL',
       'JAVA SPARROW', 'AMERICAN PIPIT', 'TUNDRA SWAN',
       'NORTHERN PINTAIL', 'GRACKLE', 'WHITE-TAILED KITE',
       'EASTERN BLUEBIRD', 'STRIPED SKUNK', 'VARIED THRUSH', 'WOOD STORK',
       'WOOD WARBLER', 'MUSKRAT', 'EASTERN TOWHEE', 'NORTHERN PARULA',
       "SWAINSON'S HAWK", 'BLACK-CROWNED NIGHT-HERON', 'LEAST TERN',
       'CORMORANTS', "BAIRD'S SANDPIPER", 'BELTED KINGFISHER',
       'FLORIDA SOFT SHELL TURTLE', 'YELLOW-BELLIED SAPSUCKER',
       'MEGABATS', 'BALTIMORE ORIOLE', 'COMMON EIDER', 'LESSER SCAUP',
       'CANVASBACK', 'AMERICAN BLACK DUCK', 'ROUGH-LEGGED HAWK',
       'CACKLING GOOSE', 'SWANS', 'AUSTRALIAN PELICAN', 'OVENBIRD',
       'RED-BELLIED WOODPECKER', 'GREEN HERON', 'AMERICAN OYSTERCATCHER',
       'TUFTED TITMOUSE', 'WESTERN KINGBIRD', 'LONG-TAILED DUCK',
       'EAGLES', 'CALIFORNIA GULL', 'ARMADILLO',
       'SCISSOR-TAILED FLYCATCHER', 'VESPER BAT', 'SHARP-TAILED GROUSE',
       'WILLOW PTARMIGAN', "FORSTER'S TERN", 'GRAY CATBIRD', 'WOOD DUCK',
       'LESSER YELLOWLEGS', 'EASTERN BOX TURTLE', 'BLACK-BELLIED PLOVER',
       'WHITE-THROATED SPARROW', 'WOODPECKERS, PICULETS', 'MONK PARAKEET',
       'YELLOW BITTERN', 'QUAILS', 'EURASIAN THICK-KNEE',
       'LEAST SANDPIPER', 'COLLARED PECCARY', 'RING-NECKED DUCK',
       'SHARP-SHINNED HAWK', 'GLAUCOUS-WINGED GULL', 'BLACK FRANCOLIN',
       'TROPICBIRDS', 'BOBOLINK', 'HORSE', 'WHITE-CROWNED SPARROW',
       'PURPLE GALLINULE', 'GULL-BILLED TERN', 'PERCHING BIRDS',
       'WOODPECKERS', 'WHIMBREL', 'CHICKEN TURTLE', 'BLACKPOLL WARBLER',
       'SONG SPARROW', 'COASTAL PLAIN COOTER', 'COMMON SNAPPING TURTLE',
       'GREATER SCAUP', 'GREAT-TAILED GRACKLE', 'YELLOW-HEADED BLACKBIRD',
       'LONG-BILLED DOWITCHER', 'FERRUGINOUS HAWK', 'ISLAND TURTLE-DOVE',
       'LAPPET-FACED VULTURE', 'BLACK KITE', "COOPER'S HAWK",
       'BARRED OWL', 'WESTERN GREBE', 'CANADA WARBLER', 'DUNLIN',
       'RIVER OTTER', 'WHITE-THROATED SWIFT', 'SEMIPALMATED PLOVER',
       'CHICKADEES', 'WILLET', 'COMMON MERGANSER',
       'GREAT CRESTED FLYCATCHER', 'WESTERN SANDPIPER',
       'SHORT-BILLED DOWITCHER', 'GOLDEN-CROWNED SPARROW',
       'LAPLAND LONGSPUR', 'MOURNING WARBLER', 'FIELD SPARROW',
       'PIED-BILLED GREBE', 'TYRANT FLYCATCHERS', 'EARED GREBE',
       "BREWER'S BLACKBIRD", 'MOTTLED DUCK', 'YELLOW-RUMPED WARBLER',
       'SWINE (PIGS)', 'COMMON POORWILL', 'VIRGINIA RAIL',
       'GREEN-TAILED TOWHEE', 'CARRION CROW', 'WHITE STORK',
       'LOGGERHEAD SHRIKE', 'YELLOW-BREASTED CHAT', 'LAZULI BUNTING',
       "HEERMANN'S GULL", "VAUX'S SWIFT", 'GLOSSY IBIS', 'LARK SPARROW',
       'YELLOW-LEGGED GULL', 'CLAPPER RAIL', 'COMMON GRAY FOX',
       'HUDSONIAN GODWIT', 'SAGE THRASHER', 'GYRFALCON',
       'AMERICAN BITTERN', 'NORTH AMERICAN PORCUPINE',
       'WHITE-WINGED DOVE', 'PURPLE FINCH', 'PINE WARBLER', 'RUDDY DUCK',
       'BLACK-TAILED JACKRABBIT', 'BLACK SKIMMER',
       'BLACK-TAILED PRAIRIE DOG', 'BRAZILIAN FREE-TAILED BAT',
       'BLACK-AND-WHITE WARBLER', 'LITTLE BLUE HERON', 'SCARLET TANAGER',
       'BUFF-BREASTED SANDPIPER', 'GRAY-CHEEKED THRUSH', 'TANAGERS',
       'COMMON YELLOWTHROAT', 'SANDERLING', 'NASHVILLE WARBLER',
       'PALM WARBLER', 'VESPER SPARROW', 'GRASSHOPPER SPARROW',
       'BLACK NODDY', 'GREEN IGUANA', 'GREAT CORMORANT', "THAYER'S GULL",
       'BROAD-WINGED HAWK', 'BLACK-NECKED STILT', 'PECTORAL SANDPIPER',
       'MARSH WREN', 'LESSER NIGHTHAWK', 'BLUE-HEADED VIREO',
       'DIAMONDBACK TERRAPIN', 'REDHEAD', 'RED-TAILED TROPICBIRD',
       'LITTLE TERN', 'PINE SISKIN', 'EURASIAN BUZZARD',
       'EASTERN SMALL-FOOTED MYOTIS', 'WEDGE-TAILED SHEARWATER',
       'LITTLE BROWN BAT', "GUNNISON'S PRAIRIE DOG", 'PAINTED TURTLE',
       'BADGER', 'RINGTAIL', "SPRAGUE'S PIPIT", 'VIREOS',
       'EUROPEAN GOLDEN-PLOVER', 'WHITE-WINGED CROSSBILL',
       'JAPANESE WHITE-EYE', 'EURASIAN SKYLARK', 'HORNED GREBE',
       'CHESTNUT-COLLARED LONGSPUR', 'MUSCOVY DUCK', 'NANDAY PARAKEET',
       'WARBLING VIREO', 'HAIRY WOODPECKER', 'WESTERN TANAGER',
       'RED-VENTED BULBUL', 'EASTERN WOOD-PEWEE', 'VIOLET-GREEN SWALLOW',
       'ACADIAN FLYCATCHER', 'MAGNIFICENT FRIGATEBIRD',
       'LONG-BILLED CURLEW', "WILSON'S WARBLER", 'RED-LEGGED KITTIWAKE',
       'BROWN NODDY', 'RUBY-THROATED HUMMINGBIRD', 'CHIPPING SPARROW',
       'ROSEATE SPOONBILL', "LINCOLN'S SPARROW", 'SILVER-HAIRED BAT',
       'PLOVERS, LAPWINGS', 'BLACK-HEADED GULL', 'PELAGIC CORMORANT',
       'POND SLIDER', 'BUFFLEHEAD', "HARRIS'S HAWK", 'LAYSAN ALBATROSS',
       'BONIN PETREL', 'RED-NECKED GREBE', 'RED-BREASTED MERGANSER',
       "SMITH'S LONGSPUR", 'BUDGERIGAR', 'WHITE-FACED IBIS',
       "ANNA'S HUMMINGBIRD", 'FORK-TAILED STORM-PETREL',
       'MISSISSIPPI KITE', 'YELLOW-CROWNED NIGHT-HERON',
       'ASH-THROATED FLYCATCHER', 'WRENTIT', 'COMMON GROUND-DOVE',
       'SOLITARY SANDPIPER', 'SNOWY PLOVER', 'EASTERN MUD TURTLE',
       'YELLOW-THROATED VIREO', 'SKUNK', 'GRAY FRANCOLIN',
       "CASSIN'S VIREO", 'WESTERN BLUEBIRD', "TOWNSEND'S WARBLER",
       'NORTHWESTERN CROW', 'CHUKAR', 'SOUTHERN LAPWING', 'ROCK WREN',
       'FREE-TAILED BATS', 'GREATER YELLOWLEGS', 'INDIGO BUNTING',
       'NORTHERN WATERTHRUSH', 'BLACK-FOOTED ALBATROSS',
       'EASTERN PIPISTRELLE', 'SCOPS, SCREECH OWLS', 'RED AVADAVAT',
       'EURASIAN KESTREL', 'ROSEATE TERN', 'WESTERN WOOD-PEWEE',
       'WHITE-THROATED MUNIA', 'WHITE-TAILED JACKRABBIT',
       'YELLOW WARBLER', 'SAGE SPARROW', 'FAIRY TERN', 'RED-EYED VIREO',
       'VEERY', 'SULPHUR-BELLIED FLYCATCHER', "CHUCK-WILL'S-WIDOW",
       'TRUMPETER SWAN', 'WHITE-TAILED TROPICBIRD', 'LARKS',
       'HOODED CROW', 'RED-NAPED SAPSUCKER', 'DOWNY WOODPECKER',
       'RED-FOOTED BOOBY', 'CUCKOOS, ROADRUNNERS, ANIS',
       'CAPE MAY WARBLER', 'RED KNOT', 'DICKCISSEL', 'PHILIPPINE DUCK',
       'SWALLOW-TAILED KITE', 'NORTHERN PYGMY-OWL', 'PRAIRIE WARBLER',
       'COMMON CUCKOO', 'PRAIRIE FALCON', 'SMALL INDIAN MONGOOSE',
       'KITES, EAGLES, HAWKS', 'SOOTY TERN', 'COMMON WAXBILL',
       'PERCHING BIRDS (Z)', 'PIPITS', 'CRESTED CARACARA',
       'COMMON GOLDENEYE', 'WHITE-RUMPED SANDPIPER', 'MAGNOLIA WARBLER',
       'BLACK-BELLIED WHISTLING-DUCK', 'WHITE-BELLIED SEA-EAGLE',
       'SCALED QUAIL', 'EASTERN PHOEBE', 'WHITE TERN',
       'YELLOW-BELLIED FLYCATCHER', 'CINNAMON TEAL', 'SWAMP SPARROW',
       'LESSER BLACK-BACKED GULL', 'AMERICAN TREE SPARROW',
       'GOLDEN-CROWNED KINGLET', "CLARK'S GREBE", 'MINK',
       'BLACK TURNSTONE', 'WESTERN SCREECH-OWL', "WILSON'S PLOVER",
       'MOUNTAIN CHICKADEE', 'SEMINOLE BAT', 'UNKNOWN BIRD OR BAT',
       'ORCHARD ORIOLE', 'RUBY-CROWNED KINGLET',
       'BLACK-THROATED BLUE WARBLER', 'WHITE-WINGED SCOTER',
       'BIG BROWN BAT', 'NIGHTJARS', 'KIT FOX', 'EVENING GROSBEAK',
       'MARBLED GODWIT', 'GRAY-HEADED CHICKADEE', 'PROTHONOTARY WARBLER',
       'CACTUS WREN', 'BLACK-LEGGED KITTIWAKE', 'WHOOPING CRANE',
       'POCKETED FREE-TAILED BAT', 'BURRO', 'HOUSE WREN',
       'COMMON WOOD-PIGEON', 'LESSER GOLDFINCH', 'CURVE-BILLED THRASHER',
       "HARRIS'S SPARROW", 'RED-NECKED PHALAROPE', 'RED-THROATED LOON',
       'LAGOMORPHS (RABBITS, HARES)', 'RUFFED GROUSE', 'PARASITIC JAEGER',
       "BULLOCK'S ORIOLE", 'HUMMINGBIRDS', 'BLUE-GRAY GNATCATCHER',
       "MACGILLIVRAY'S WARBLER", 'GLAUCOUS GULL', 'RUSTY BLACKBIRD',
       'RED-LEGGED PARTRIDGE', 'BOHEMIAN WAXWING', 'WHITE-TAILED HAWK',
       'GRAY HERON', 'REDWING', "MCCOWN'S LONGSPUR", 'MOUNTAIN BLUEBIRD',
       'YELLOW-THROATED WARBLER', 'LEAST FLYCATCHER', 'TRICOLORED HERON',
       'GREATER ROADRUNNER', 'BAND-TAILED PIGEON', 'NORTHERN GOSHAWK',
       'COMMON SWIFT', 'CALIFORNIA TOWHEE',
       'WAXBILLS, MANNIKINS, PARROTFINCHES', 'TROPICAL MOCKINGBIRD',
       'HARES', 'BLACK-THROATED SPARROW', "HAMMOND'S FLYCATCHER",
       'CAVE SWALLOW', "WILSON'S PHALAROPE", 'DESERT COTTONTAIL',
       'BLACK-CHINNED HUMMINGBIRD', 'CUCKOOS',
       'BLACK-THROATED GRAY WARBLER', 'CAROLINA CHICKADEE', 'WINTER WREN',
       'ISLAND CANARY', 'BLACK-THROATED GREEN WARBLER', 'EURASIAN CURLEW',
       'ROCK SANDPIPER', 'PIPING PLOVER', 'HARLEQUIN DUCK',
       'NORTH AMERICAN BEAVER', 'BLACK-HEADED GROSBEAK',
       'PACIFIC-SLOPE FLYCATCHER', 'BLACK-BILLED CUCKOO',
       'HERMIT WARBLER', 'BLACK SWIFT', 'ROOK', 'NORTHERN YELLOW BAT',
       'WHITE-BREASTED NUTHATCH', 'GOPHER TORTOISE', 'EVENING BAT',
       'LOONS', 'TENNESSEE WARBLER', 'LITTLE OWL',
       'FLORIDA RED-BELLIED COOTER', 'CHESTNUT-SIDED WARBLER',
       'BIG FREE-TAILED BAT', "NELSON'S SHARP-TAILED SPARROW",
       'NORTHERN HAWK-OWL', "MCKAY'S BUNTING", "ALLEN'S HUMMINGBIRD",
       'TRICOLORED BLACKBIRD', 'GRAY FLYCATCHER', 'BLACK DRONGO',
       'LONG-TAILED JAEGER', 'BLACKBURNIAN WARBLER', 'PACIFIC LOON',
       'YELLOW-BELLIED MARMOT', 'CALLIOPE HUMMINGBIRD', 'LEAST BITTERN',
       'GRAY JAY', 'DOUBLE-STRIPED THICK-KNEE', 'BUSHTIT',
       'EURASIAN COLLARED DOVE', "BREWER'S SPARROW", 'PAINTED BUNTING',
       'SANDWICH TERN', "BEWICK'S WREN", 'BLACK TERN',
       'WHITE-CRESTED ELAENIA', "CASSIN'S FINCH", 'PINE GROSBEAK',
       'COMMON SNIPE', "BARROW'S GOLDENEYE", 'WHITE-TAILED PRAIRIE DOG',
       'WESTERN MASTIFF BAT', "LE CONTE'S SPARROW", 'GREAT GRAY OWL',
       "CASSIN'S SPARROW", 'ALLIGATOR SNAPPING TURTLE', 'CROWS, RAVENS',
       'RED CROSSBILL', 'ANTELOPE JACKRABBIT', 'FLORIDA BONNETED BAT',
       'WILLOW FLYCATCHER', 'COMMON PAURAQUE', 'INTERMEDIATE EGRET',
       'ALDER FLYCATCHER', 'BAY-BREASTED WARBLER', 'SEDGE WREN',
       "BRANDT'S CORMORANT", 'PHILADELPHIA VIREO', 'TOWHEES',
       'CONNECTICUT WARBLER', 'FOX SQUIRREL', 'BLACK-FACED BUNTING',
       'CATS', 'EURASIAN COOT', 'GREAT CRESTED GREBE', 'RED PHALAROPE',
       'GRAY SAC-WINGED BAT', 'GRAY-CROWNED ROSY-FINCH',
       'RUFOUS HUMMINGBIRD', 'BAND-RUMPED STORM-PETREL',
       'KENTUCKY WARBLER', 'BULL SNAKE', 'ZENAIDA DOVE', 'BLUE GROSBEAK',
       'RUDDY GROUND-DOVE', 'HOODED ORIOLE', 'PUFFINS', 'INDIANA BAT',
       'JAMAICAN FRUIT BAT', 'CLAY-COLORED SPARROW', 'SUMMER TANAGER',
       'SURF SCOTER', 'WHITE-WINGED TERN', 'COMMON CHAFFINCH',
       'YUMA MYOTIS', 'SONG THRUSH', 'NACUNDA NIGHTHAWK', 'SPRUCE GROUSE',
       'RED-BREASTED SAPSUCKER', 'SOUTH AMERICAN SNIPE', 'HOARY REDPOLL',
       'BAR-TAILED GODWIT', 'FLYING FOX', 'NORTHERN FULMAR', nan,
       'SNAKES', 'CORDILLERAN FLYCATCHER', 'LONG-BILLED THRASHER',
       'NORTHERN WATER SNAKE', 'AMERICAN BLACK BEAR', 'SPOTTED TOWHEE',
       'DUSKY FLYCATCHER', 'LONG-EARED MYOTIS', 'SHEARWATERS',
       'RED-HEADED WOODPECKER', 'STILT SANDPIPER', 'WORM-EATING WARBLER',
       'COMMON PIPISTRELLE', 'WATER MOCCASIN', 'WESTERN YELLOW BAT',
       "BAIRD'S SPARROW", 'LONG-LEGGED MYOTIS',
       'EASTERN DIAMONDBACK RATTLESNAKE', 'PHILIPPINE DRONGO-CUCKOO',
       'HAWAIIAN GOOSE', 'OLIVE-THROATED PARAKEET', 'NORTHERN SHRIKE',
       'PIGEON GUILLEMOT', 'MOCKINGBIRDS', 'COMMON REDPOLL',
       'MEADOW PIPIT', 'GREAT KISKADEE', 'PRAIRIE DOGS', 'CRANES',
       'GRAY KINGBIRD', 'RAVENS', 'ANTILLEAN NIGHTHAWK',
       'PICAZURO PIGEON', 'YELLOW-HEADED CARCARA', 'BLUE-WINGED WARBLER',
       'MAGPIES', 'STRIPED MUD TURTLE'], dtype=object)

In [16]:
unknown_df = df.replace(
{'UNKNOWN MEDIUM BIRD': "UNKNOWN BIRD",'UNKNOWN SMALL BIRD':'UNKNOWN BIRD',
 'UNKNOWN TERRESTIAL BIRD':'UNKNOWN BIRD','UNKNOWN LARGE BIRD':'UNKNOWN BIRD',
'UNKNOWN BIRD OR BAT': 'UNKNOWN BIRD'}
)
not_birds = ['COYOTE','DEER','DOMESTIC DOG','UNKNOWN TERRESTIAL MAMMAL','RED FOX','RABBIT','DOMESTIC CAT',
            'CATTLE','WAPITI (ELK)','FOXES','TURTLE','RACCOON','AMERICAN ALLIGATOR','STRIPED SKUNK',
            'MUSKRAT','FLORIDA SOFT SHELL TURTLE','TUFTED TITMOUSE','ARMADILLO','HORSE','CHICKEN TURTLE',
            'COMMON SNAPPING TURTLE','SWINE (PIGS)','COMMON GRAY FOX','NORTH AMERICAN PORCUPINE',
            'BLACK-TAILED JACKRABBIT','BLACK-TAILED PRAIRIE DOG','GREEN IGUANA','DIAMONDBACK TERRAPIN',
             "GUNNISON'S PRAIRIE DOG", 'PAINTED TURTLE', 'EASTERN MUD TURTLE','SKUNK','KIT FOX','DESERT COTTONTAIL',
            'NORTH AMERICAN BEAVER','GOPHER TORTOISE','WHITE-TAILED PRAIRIE DOG','ALLIGATOR SNAPPING TURTLE',
            'ANTELOPE JACKRABBIT', 'FOX SQUIRREL','CATS','BULL SNAKE','SNAKES','NORTHERN WATER SNAKE','AMERICAN BLACK BEAR',
            'EASTERN DIAMONDBACK RATTLESNAKE', 'PRAIRIE DOGS','STRIPED MUD TURTLE']
# Contains nan value

# Birds but need new classification
#'RAPTORS: HAWKS, EAGLES, VULTURES, KITES, OSPREY, F','KITES, EAGLES, HAWKS'
unknown_df = unknown_df.replace(not_birds, 'OTHER ANIMALS')
unknown_df = unknown_df.replace({
    'RAPTORS: HAWKS, EAGLES, VULTURES, KITES, OSPREY, F':'HAWKS, EAGLES, VULTURES, KITES, OSPREY',
    'KITES, EAGLES, HAWKS' : 'HAWKS, EAGLES, VULTURES, KITES, OSPREY'})

unknown_df = unknown_df.loc[(unknown_df['Species Name']!= 'OTHER ANIMALS')&(unknown_df['Species Name']!= 'UNKNOWN BIRD')]
unknown_df.dropna(subset = ["Species Name"])
unknown_df

,Record ID,Species ID,Species Name,Species Quantity,Fatalities,Injuries
0,127128,NE1,GULL,1,0.0,0.0
1,129779,ZZ201,HOUSE SPARROW,1,0.0,0.0
2,129780,R1101,BARN OWL,1,0.0,0.0
4,2257,ZX,FINCH,1,0.0,0.0
5,129734,ZY1,MUNIAS,1,0.0,0.0
...,...,...,...,...,...,...
174095,366041,K33,HAWK,1,0.0,0.0
174097,365836,NE1,GULL,1,0.0,0.0
174101,365903,K1002,TURKEY VULTURE,1,0.0,0.0
174102,366046,Z6014,HERMIT THRUSH,1,0.0,0.0
174103,365823,YI,SWALLOW,1,0.0,0.0

In [ ]:
quantity = unknown_df.groupby('Species Quantity')['Species ID'].count().sort_values(ascending = False)
quantity