In [1]:
import pandas as pd
import numpy as np

In [2]:
file = 'Resources/database.csv'
df = pd.read_csv(file)
df.head()

C:\Users\Kevin\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (9,12,15,17) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Record ID,Incident Year,Incident Month,Incident Day,Operator ID,Operator,Aircraft,Aircraft Type,Aircraft Make,Aircraft Model,...,Fuselage Strike,Fuselage Damage,Landing Gear Strike,Landing Gear Damage,Tail Strike,Tail Damage,Lights Strike,Lights Damage,Other Strike,Other Damage
0,127128,1990,1,1,DAL,DELTA AIR LINES,B-757-200,A,148,26,...,0,0,0,0,1,1,0,0,0,0
1,129779,1990,1,1,HAL,HAWAIIAN AIR,DC-9,A,583,90,...,0,0,0,0,0,0,0,0,1,0
2,129780,1990,1,2,UNK,UNKNOWN,UNKNOWN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
3,2258,1990,1,3,MIL,MILITARY,A-10A,A,345,NaN,...,0,0,0,0,0,0,0,0,0,0
4,2257,1990,1,3,MIL,MILITARY,F-16,A,561,NaN,...,0,0,0,0,0,0,0,0,0,0

In [4]:
planes_df = df.loc[(df['Operator'] != 'UNKNOWN')]
planes_df

,Record ID,Incident Year,Incident Month,Incident Day,Operator ID,Operator,Aircraft,Aircraft Type,Aircraft Make,Aircraft Model,...,Fuselage Strike,Fuselage Damage,Landing Gear Strike,Landing Gear Damage,Tail Strike,Tail Damage,Lights Strike,Lights Damage,Other Strike,Other Damage
0,127128,1990,1,1,DAL,DELTA AIR LINES,B-757-200,A,148,26,...,0,0,0,0,1,1,0,0,0,0
1,129779,1990,1,1,HAL,HAWAIIAN AIR,DC-9,A,583,90,...,0,0,0,0,0,0,0,0,1,0
3,2258,1990,1,3,MIL,MILITARY,A-10A,A,345,NaN,...,0,0,0,0,0,0,0,0,0,0
4,2257,1990,1,3,MIL,MILITARY,F-16,A,561,NaN,...,0,0,0,0,0,0,0,0,0,0
5,129734,1990,1,4,HAL,HAWAIIAN AIR,DC-9,A,583,90,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174099,366091,2015,9,30,SWA,SOUTHWEST AIRLINES,B-737-700,A,148,42,...,0,0,0,0,0,0,0,0,0,0
174100,365902,2015,9,30,SWA,SOUTHWEST AIRLINES,B-737-700,A,148,42,...,0,0,0,0,0,0,0,0,0,0
174101,365903,2015,9,30,BUS,BUSINESS,CITATIONJET,A,226,49,...,1,1,0,0,0,0,0,0,0,0
174102,366046,2015,9,30,QXE,HORIZON AIR,DHC8 DASH 8,A,303,10,...,1,0,0,0,0,0,0,0,0,0
174103,365823,2015,9,30,AWI,AIR WISCONSIN AIRLINES,CRJ100/200,A,188,10,...,0,0,0,0,0,0,0,0,1,0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 174104 entries, 0 to 174103
Data columns (total 66 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Record ID             174104 non-null  int64
 1   Incident Year         174104 non-null  int64
 2   Incident Month        174104 non-null  int64
 3   Incident Day          174104 non-null  int64
 4   Operator ID           174104 non-null  object
 5   Operator              174104 non-null  object
 6   Aircraft              174104 non-null  object
 7   Aircraft Type         133074 non-null  object
 8   Aircraft Make         131051 non-null  object
 9   Aircraft Model        122439 non-null  object
 10  Aircraft Mass         127320 non-null  float64
 11  Engine Make           123434 non-null  float64
 12  Engine Model          121988 non-null  object
 13  Engines               127342 non-null  float64
 14  Engine Type           127282 non-null  object
 15  Engine1 Position      126193 non-null  object
 16  Engine2 Position      118715 non-null  float64
 17  Engine3 Position      11659 non-null   object
 18  Engine4 Position      3092 non-null    float64
 19  Airport ID            174104 non-null  object
 20  Airport               173814 non-null  object
 21  State                 152128 non-null  object
 22  FAA Region            155202 non-null  object
 23  Warning Issued        76418 non-null   object
 24  Flight Phase          118802 non-null  object
 25  Visibility            109933 non-null  object
 26  Precipitation         88322 non-null   object
 27  Height                103677 non-null  float64
 28  Speed                 71258 non-null   float64
 29  Distance              99713 non-null   float64
 30  Species ID            174104 non-null  object
 31  Species Name          174024 non-null  object
 32  Species Quantity      169627 non-null  object
 33  Flight Impact         99465 non-null   object
 34  Fatalities            565 non-null     float64
 35  Injuries              229 non-null     float64
 36  Aircraft Damage       174104 non-null  int64
 37  Radome Strike         174104 non-null  int64
 38  Radome Damage         174104 non-null  int64
 39  Windshield Strike     174104 non-null  int64
 40  Windshield Damage     174104 non-null  int64
 41  Nose Strike           174104 non-null  int64
 42  Nose Damage           174104 non-null  int64
 43  Engine1 Strike        174104 non-null  int64
 44  Engine1 Damage        174104 non-null  int64
 45  Engine2 Strike        174104 non-null  int64
 46  Engine2 Damage        174104 non-null  int64
 47  Engine3 Strike        174104 non-null  int64
 48  Engine3 Damage        174104 non-null  int64
 49  Engine4 Strike        174104 non-null  int64
 50  Engine4 Damage        174104 non-null  int64
 51  Engine Ingested       174104 non-null  int64
 52  Propeller Strike      174104 non-null  int64
 53  Propeller Damage      174104 non-null  int64
 54  Wing or Rotor Strike  174104 non-null  int64
 55  Wing or Rotor Damage  174104 non-null  int64
 56  Fuselage Strike       174104 non-null  int64
 57  Fuselage Damage       174104 non-null  int64
 58  Landing Gear Strike   174104 non-null  int64
 59  Landing Gear Damage   174104 non-null  int64
 60  Tail Strike           174104 non-null  int64
 61  Tail Damage           174104 non-null  int64
 62  Lights Strike         174104 non-null  int64
 63  Lights Damage         174104 non-null  int64
 64  Other Strike          174104 non-null  int64
 65  Other Damage          174104 non-null  int64
dtypes: float64(10), int64(34), object(22)
memory usage: 87.7+ MB

In [12]:
df['Species Name'].value_counts()

UNKNOWN MEDIUM BIRD      38531
UNKNOWN SMALL BIRD       32981
MOURNING DOVE             7653
GULL                      6580
UNKNOWN BIRD              6400
                         ...
BARROW'S GOLDENEYE           1
RED-HEADED WOODPECKER        1
CASSIN'S FINCH               1
COMMON PIPISTRELLE           1
ROOK                         1
Name: Species Name, Length: 715, dtype: int64

In [14]:
birds_df = df.loc[(df['Species Name'] != 'UNKNOWN BIRD') &
                  (df['Species Name'] != 'UNKNOWN MEDIUM BIRD') &
                  (df['Species Name'] != 'UNKNOWN SMALL BIRD') &
                  (df['Species Name'] != 'UNKNOWN TERRESTIAL BIRD') &
                  (df['Species Name'] != 'UNKNOWN LARGE BIRD')
                 ]

In [15]:
birds_df

,Record ID,Incident Year,Incident Month,Incident Day,Operator ID,Operator,Aircraft,Aircraft Type,Aircraft Make,Aircraft Model,...,Fuselage Strike,Fuselage Damage,Landing Gear Strike,Landing Gear Damage,Tail Strike,Tail Damage,Lights Strike,Lights Damage,Other Strike,Other Damage
0,127128,1990,1,1,DAL,DELTA AIR LINES,B-757-200,A,148,26,...,0,0,0,0,1,1,0,0,0,0
1,129779,1990,1,1,HAL,HAWAIIAN AIR,DC-9,A,583,90,...,0,0,0,0,0,0,0,0,1,0
2,129780,1990,1,2,UNK,UNKNOWN,UNKNOWN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
4,2257,1990,1,3,MIL,MILITARY,F-16,A,561,NaN,...,0,0,0,0,0,0,0,0,0,0
5,129734,1990,1,4,HAL,HAWAIIAN AIR,DC-9,A,583,90,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174095,366041,2015,9,30,BUS,BUSINESS,EC130,B,33A,NaN,...,0,0,0,0,0,0,0,0,0,0
174097,365836,2015,9,30,ASQ,EXPRESSJET AIRLINES,EMB-135,A,332,13,...,0,0,0,0,0,0,0,0,0,0
174101,365903,2015,9,30,BUS,BUSINESS,CITATIONJET,A,226,49,...,1,1,0,0,0,0,0,0,0,0
174102,366046,2015,9,30,QXE,HORIZON AIR,DHC8 DASH 8,A,303,10,...,1,0,0,0,0,0,0,0,0,0
174103,365823,2015,9,30,AWI,AIR WISCONSIN AIRLINES,CRJ100/200,A,188,10,...,0,0,0,0,0,0,0,0,1,0

In [ ]:
bird_group = birds_df.gr